.hidden {
  display: none;
}

.home-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-media > div {
  margin: 10px;
}



.nav-container {
  display: flex;
  justify-content: center;
  margin: 5px;

}

.nav-left > a {
  color: black;
  text-decoration: underline;
  font-weight: 700;
}

.nav-link {
  /* color: inherit; */
  text-decoration: inherit;
}

.nav-mobile {
  display: none;
  margin: 5px;
}

.nav-right {
  display: flex;
  color: grey;
}

.nav-right > a {
  color: grey;
}

.nav-hamburger-items:hover {
  background-color: grey;
  color: black;
}

.nav-hamburger-items > a {
  color:grey;
}

.spotify-player {
  max-width: 550px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .nav-mobile {
    display: block;
    justify-content: right;
    text-align: right;
  }
  .nav-right {
    display: none;
  }
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
}